@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }  

/* Reset */  
  body {
    font-family: 'Share Tech Mono' !important;
    background-color: #000000 !important;
    padding-top: 5rem;
  }
  
  h1{
    color: #ffffff !important;
    font-size: 5rem;
  }
  .row{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
  }
  .logo{
    padding: 1rem;
  }
  
  .logo-svg{
    width: 25rem;
  }
  .name{
    padding: 1rem;
  }
a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width:768px) {
    .body{
        padding-right: 0;
        padding-left: 0;
    }
    .logo-svg{
        width: 15rem;
        margin-left: 3rem;
      }
    h1{
        font-size: 3rem;
      }
}